<div class="container" id="queries-page">
	<div class="row center">

		<div class="col-md-2"></div>
		<div class="col-md-8">
		<h1>Queries Log</h1>
			<table class="table table-striped table-bordered ">
				<thead>
					<tr>
						<td><h4>Query Type</h4></td>

						<td><h4>Query</h4></td>

						<td><h4>Created at</h4></td>
					</tr>
				</thead>
				<tbody>

				  <% @requests.each_with_index do |request, index| %>
					<tr>
						<td id="query_type-<%=index%>">
							<%= request.query_type%>
						</td>
						<td id="query-<%=index%>">
							<%= request.query%>
						</td>
						<td id="query_time-<%=index%>">
							<%= %>
							<%=distance_of_time_in_words(DateTime.parse(request.created_at.to_s),DateTime.now)%> ago
						</td>
					</tr>
				<% end %>


				</tbody>
			</table>
			</div>
		</div>
</div>
